@import '~antd/dist/antd.css';

.home{
   background: url("https://i.imgur.com/Xnqtcj5.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative !important;
  width: 100% !important;
}

@font-face {
  font-family: LLCircular;
  src: url(./Circular_Std/CircularStd-Medium.otf);
}