.ga-header {
	margin-top: 3.44rem !important;
    margin-bottom: 1.44rem !important;
    text-align: center;
    font-family: "Circular",Helvetica,Arial,sans-serif;
    font-size: 2.0736rem;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 1.2;
}

.ga-subtitle {
	color: #767676;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.414;
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer {
  background-color: black;
  width: 100%;
}

@media (min-width: 80em)
.ga-row .ga-row {
    margin: 0 -15px;
    max-width: none;
    width: auto;
}

@media (min-width: 60em)
.ga-row .ga-row {
    margin: 0 -15px;
    max-width: none;
    width: auto;
}

@media (min-width: 30em)
.ga-row .ga-row {
    margin: 0 -12px;
    max-width: none;
    width: auto;
}

.ga-row {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.ga-col ga-col-md-10 ga-col-lg-8 ga-col-md-centered {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.six-concepts {
	margin-left: 19%;
	width: 65%;
}

.ga-block-secondary {
    background-color: #f6f6f6;
    color: #2e2e2e;
    padding: 23px;
    width: 60%;
    display: flex;
    margin: 3% 20% 5% 20%;
}


.ace {
	font-family: "Circular",Helvetica,Arial,sans-serif;
    font-size: 1.44rem;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 1.2;
}

.start-now {
	    font-family: "Circular",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.414;
    color: #767676;
}

.request {
	margin-left: 150px;
	font-weight: bold;
	color: white;
	font-size: 26px;
	background-color: red;
	padding: 1%;
	border-radius: 3%;
	width: 90%;
}

.partners {
	color: gray;
	padding-top: 2%;
	text-align: center;
}

.gif {
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.learning-paths {
	font-weight: bold;
	font-size: 40px;
	margin: 50px 0 0 270px;
}