.nav-bar {
	background-color: black;
}

.logo {
	width: 23%;
}

.butter-bar {
 text-align: center;
 background-color: #ffdb00;
 font-size: 18px;
 margin-bottom: -1px;
 padding: 5px;
 color: black;
 text-decoration: underline !important;
}
